.btn-group{
    margin-left: 1%;
}
.display-4, .lead {
    margin-left: 1%;
}

.search {
    border-style: solid;
    border-width: 2em;
    border-color: powderblue;
    padding: 1em;
    background-color: ghostwhite;
}
body {
    background: linear-gradient(90deg, rgba(234,255,255,1) 0%, rgba(228,238,221,1) 50%, rgba(216,255,224,1) 100%);
}

.today {
    margin: 3%;
    padding: 3% 3%;
    max-width: fit-content;
}
.moveout{
    margin-left: 3%;
}
.forecast{
    margin: 3% 1%;
    padding: 1%;
}
.media{
    margin: 3%;
    padding: 1%;
}

.UVHigh {
    color: #ee601f;
}
.UVExtreme {
    color: #f243ac;
}
.UVLow {
    color: #38ce4a;
}
h6 {
    padding-left: 1%;
    padding-top: 1%;
}